global:
  checkNewVersion: true
  sendAnonymousUsage: false

log:
  level: ERROR

api:
  dashboard: true
  insecure: true

entryPoints:
  web:
    address: ":80"

providers:
  docker:
    exposedByDefault: false
    network: backend